.chatbody {
  height: 15rem;
  overflow-y: scroll;
  border: 1px solid #999;
  background-color: #ffffff;
  scroll-behavior: smooth;
  margin-right: 0.5rem;
  &::-webkit-scrollbar {
    width: 0.3rem;
  }
  //  scrollbar 滑動塊
  &::-webkit-scrollbar-thumb {
    background-color: var(--bs-line);
    border-radius: 1rem;
  }

  @include media-breakpoint-down(md) {
    height: 44vh;
  }
}

.chat-select {
  overflow-x: scroll;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 0.2rem;
  }
  //  scrollbar 滑動塊
  &::-webkit-scrollbar-thumb {
    background-color: var(--bs-line);
    border-radius: 1rem;
  }
}

.chat-background {
  backdrop-filter: blur(5rem);
}

.chatbox {
  z-index: 1040;
  position: fixed;
  bottom: 0;
  right: 8rem;
  width: 24rem;
  height: auto;
  @include media-breakpoint-down(md) {
    left: 0;
    margin-bottom: 3.7rem;
  }
}

.chat-bot-button:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.color-button {
  width: 1rem;
  height: 1rem;
  opacity: 0.8;
  border: 0.1rem solid white;
  cursor: "pointer";
  &:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: 200ms;
  }
}
