.course-list-aside {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.4rem;
  }
  //  scrollbar 滑動塊
  &::-webkit-scrollbar-thumb {
    // background-color: var(--bs-content);
    border-radius: 1rem;
  }
  //  scrollbar 底塊
  &::-webkit-scrollbar-track {
    margin: 1rem 0;
  }
}

.date-input {
  border-radius: 0.3rem;
  border: 0.1rem solid var(--bs-primary);
  width: 8.3rem;
  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
    height: 1.3rem;
    width: 1.5rem;
    opacity: 0;
  }
}
