.course-list-aside {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.4rem;
  }
  //  scrollbar 滑動塊
  &::-webkit-scrollbar-thumb {
    background-color: var(--bs-content);
  }
  //  scrollbar 底塊
  &::-webkit-scrollbar-track {
    margin: 1rem 0;
  }
}
