@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Noto Sans TC", "Noto Sans";
}

:root {
  --primary: #2b4948;
  --secondary: #afc58b;
  --content: #535353;
  --line: #c4c4c4;
  --hightlight: #ff7e55;
  --subcontent: #a9a9a9;
  --location: #f04765;
  --badge-yellow: #ffc107;
  --badge-red: #dc3545;
  --badge-lightblue: #0dcaf0;
  --icon-star: #f6e498;
}

a {
  text-decoration: none;
}
