.member {
  .nav-link:hover,
  .nav-link.active {
    color: $goral-highlight;
  }
  .nav-link {
    cursor: pointer;
  }
  .member-info,
  .profile {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    input[type='file'] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }
  .hr {
    border-top: 3px solid $goral-line;
  }
  .order-detail,
  .order-detail-info {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  }
  .order-title,
  .order-list {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
  }
  .order-none {
    padding: 2.5rem;
  }
  .circle {
    border-radius: 50%;
    overflow: hidden;
    width: 8.5rem;
    height: 8.5rem;
  }
  .profile-img {
    width: 9.5rem;
    height: 9.5rem;
    @media (max-width: 576px) {
      width: 8rem;
      height: 8rem;
    }
  }
  .object-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .form-control {
    border: none;
    border-radius: 0;
    border-bottom: 0.12rem solid #2b4948;
  }
  .gap-6 {
    gap: 6rem;
  }
  min-height: 100vh;
}

.select-top-item {
  cursor: pointer;
  color: var(--bs-content);
  &:hover &:active {
    color: var(--bs-highlight);
  }
}
