.shopping-cart {
  margin: 1rem auto 3rem;
  box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.1);
  .figure-img {
    margin: 0;
  }
  &__tri-btn {
    border: none;
    margin-right: 1rem;
    background-color: white;
    color: $goral-primary;
    padding-top: 0;
    @media (max-width: 768px) {
      margin-right: 0;
      padding-bottom: 6;
    }
  }
  &__btn {
    border: none;
    background-color: #fff;
    width: 100%;
  }
  h2 {
    @media (max-width: 768px) {
      margin-bottom: 0;
    }
  }
  &__detail {
    @media (max-width: 768px) {
      div {
        padding: 0;
      }
    }
  }
  .input-group {
    margin: auto;
    width: 75%;
  }
}

.cart-summary {
  margin-bottom: 3rem;
  .line {
    border: 1px solid $goral-line;
    width: 30rem;
  }
  select,
  option {
    font-size: 0.875rem;
  }
}
